

#backPop
{
    width: 100%;
    height: 100%;
    background-color: #808080;
    opacity: 0.7;
    z-index: 100;
}

#setTing-body
{
    float: left;
}

.del
{
    margin: 10px 5px;
}


#setTing-body select
{
    margin-left: 10px;
}

#setTing-body input
{
    float: right;
}

#setTing
{
    padding: 1px;
}


#name
{
    margin-left: 160px;
    line-height: 50px;
    color: #ffffff;
}


